# Exclude frontend assets from GitHub language statistics.
*.css linguist-detectable=false
*.html linguist-detectable=false
*.js linguist-detectable=false

# Exclude NSIS installer scripts from GitHub language statistics.
*.nsi linguist-detectable=false
*.nsh linguist-detectable=false
